BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterStruct:     true
  AfterEnum:       true
  AfterNamespace:  true
  AfterFunction:   true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false

AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
SortIncludes: true
IncludeCategories:
  - Regex: '^<Jolt/Jolt\.h>$'
    Priority: 1
  - Regex: '^<Jolt/.*>'
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4